body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.quiz-container {
    background: white;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: #fbbc05;
    border-radius: 8px 12px;
}
.option-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: #fbbc05;
    border-radius: 8px 12px;
}

button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #ddd;
}
h1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fbbc05;
}
.message-box {
    position: fixed;
    top: 20%;  /* Adjust this value to change vertical position */
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;  /* Initially hidden */
    z-index: 1000;
}
.btn {
    background-color: #fbbc05;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}